$bg-color : #34495e;
$input-color : #293746;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: white;
    padding: 0 10px;

    .App {
        .title {
            font-size: 30px;
            text-align: center;
            margin-top: 10px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

            .wrapper {
                display: flex;
                justify-content: center;
                width: 80%;
                margin-top: 3em;
                position: relative;
                gap: 30px;

                .listData {
                    width: 20em;
                    // margin-bottom: 3em;
                    border: 1px solid $input-color;
                    padding: 10px;

                    p {
                        margin-bottom: 10px;
                    }

                }

                .form {
                    display: flex;
                    justify-content: center;

                    .container {
                        min-width: 20em;
                        display: grid;
                        gap: 5px;

                        input,
                        textarea,
                        select {
                            width: 25em;
                            padding: 0 5px;
                            color: white;
                            height: 30px;
                            margin-bottom: 10px;
                            outline: none;
                            border: none;
                            background-color: $input-color;
                        }

                        .btn {
                            height: 30px;
                            text-align: right;
                            margin-bottom: 1em;

                            button {
                                outline: none;
                                border: none;
                                height: 100%;
                                width: 5em;
                                margin-left: 10px;

                                &:nth-last-child(2) {
                                    background-color: red;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        // responsive smarphone
        @media only screen and (min-width: 320px) and (max-width: 428px) {
            .container {
                .wrapper {
                    display: grid;
                    width: 100%;

                    .listData {
                        padding-left: 8px;
                    }

                    .form {
                        .container {

                            input,
                            textarea,
                            select {
                                width: 23em;
                                height: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
}